{% extends "base.html" %}
{% block body %}
<div class="container"
     style="background-color:#fff;height: 450px;
     width:700px;margin-top:50px;
     border-radius:55px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <img
            src="/static/img/thankyou.jpeg"
            alt=".." style="width:100px;display: block;margin: auto;width: 50%;">
    <p style="text-align:center;font-size:15px">Thank you for shopping with us—we truly appreciate your support!</p>
    <a href="/" style="text-decoration:none;">
        <button type="button"
                class="btn"
                style="width: 200px;font-size:15px;
                border-radius:18px;background-color:#85193C;
                color: white;display: block;
                margin: auto;width: 50%;">
            Continue Shopping
        </button>
    </a>


</div>
{% endblock%}